#banner {
	margin: 25px auto;
}

#search {
	margin-top: 18px;
}

#nav {
/*	margin:0 auto 18px;*/
}

#admin {
	margin-right: 18px;
}

#mainframe {
	margin-top: 18px;
}

#buttontopage {
	vertical-align: bottom;
}

a {
	color: black;
}

input{
	margin: auto;
}

.categorylist {
	margin-bottom: 18px;
}

.categorylistthumb {
	max-height: 140px;
	margin: auto;
}

.admincell {
	text-align: right;
	padding: 7px 0;
}

.side-nav {
	margin-top: 140px;

}

.headline {
	margin-top: 18px;
}

.titleintable {
	column-width: 300px;
}

