body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div,
span,
ul,
li {
  margin: 0;
  padding: 0;
  font-style: normal;
}
body {
  background-color: #f5f5f5;
}
div.logo {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.logo div.logo-badge {
  width: 700px;
}
div.logo div.logo-badge img {
  margin-left: 30px;
}
div.logo form.logo-search {
  width: 300px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.logo div.inputbox {
  width: 180px;
  height: 100%;
}
div.logo div.inputbox input {
  width: 172px;
  height: 100%;
  padding-left: 5px;
}
div.logo div.submitbox {
  width: 50px;
  height: 100%;
  margin-left: 10px;
}
div.logo div.submitbox input {
  width: 100%;
  height: 100%;
}
div.header {
  background-color: #2e8ece;
  height: 40px;
}
div.header div.nav-bar {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #2e8ece;
  display: flex;
  justify-content: space-around;
  font-family: 微软雅黑, 黑体;
}
div.header div.nav-bar div.drop-down {
  width: 125px;
  line-height: 40px;
  text-align: center;
}
div.header div.nav-bar div.drop-down a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}
div.header div.nav-bar div.drop-down div.drop-down-content {
  display: none;
  position: absolute;
  background-color: #2e8ece;
  min-width: 125px;
}
div.header div.nav-bar div.drop-down div.drop-down-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  z-index: 999;
}
div.header div.nav-bar div.drop-down div.drop-down-content a:hover {
  background-color: #1b86c0;
  z-index: 999;
}
div.header div.nav-bar .drop-down:hover {
  background-color: #1b86c0;
  z-index: 999;
}
div.header div.nav-bar .drop-down:hover .drop-down-content {
  display: block;
  z-index: 999;
}
div.banner {
  height: 100px;
  margin: 0 auto;
  background-color: #666600;
}
div.banner a {
  font-family: 微软雅黑, 黑体;
}
div.banner a:hover {
  text-decoration: none;
}
#myCarousel {
  min-width: 1000px;
  margin: 0 auto;
}
#myCarousel a {
  color: #fff;
  text-decoration: none;
  /*margin-top: 160px;
  margin-bottom: 190px;*/
  margin-left: 40px;
  margin-right: 40px;

  top: 46%;
  width: 40px;
  height: 32px;
}

div.main {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
div.main h6.main-h6 {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-family: 微软雅黑, 黑体;
  font-weight: normal;
  margin-left: 20px;
  color: #1783be;
}
div.main a {
  font-family: 微软雅黑;
  font-size: 14px;
  line-height: 16px;
  color: black;
  text-decoration: none;
}
div.main p {
  font-family: 微软雅黑;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  margin-top: 10px;
}
div.main .small-text {
  font-family: 微软雅黑;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  margin-right: 10px;
}
div.main .content {
  margin: 10px 20px;
}
div.main .line {
  border: 1px solid;
  width: 97%;
  margin: 10px auto 0;
  background-color: #1783be;
  color: #1783be;
}
div.main .categorylistthumb {
  width: 100%;
}
div.main div.news {
  width: 1000px;
  height: 386px;
}
div.main div.news div.news-column {
  display: flex;
}
div.main div.news div.news-column div.columns.content {
  width: 33.3%;
}
div.main div.news div.news-column div.columns.content .news-header {
  width: 100%;
  height: 42px;
}
div.main div.news div.news-column div.columns.content .news-updatetime {
  float: right;
}
div.main div.party-banner {
  width: 100%;
  height: 100px;
  margin: 10px auto;
}
div.main div.line-3 {
  width: 1000px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.main div.line-3 div.education {
  width: 66%;
  height: 230px;
}
div.main div.line-3 div.education div.education-column {
  display: flex;
}
div.main div.line-3 div.announce {
  width: 33%;
  height: 230px;
}
div.main div.line-4 {
  width: 1000px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
div.main div.line-4 div.recruit {
  width: 33%;
  height: 100%;
}
div.main div.line-4 div.partywork {
  width: 33%;
  height: 100%;
}
div.main div.line-4 div.publicservice {
  width: 33%;
  height: 100%;
}
div.main div.line-4 div.publicservice div.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div.main div.line-4 div.publicservice div.icons div.icon {
  width: 109px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.article {
  padding: 20px 0;
  display: flex;
}
div.article h4 {
  line-height: 30px;
  font-family: 微软雅黑, 黑体;
}
div.article h5 {
  line-height: 26px;
}
div.article p {
  line-height: 18px;
}
div.article div.left-column {
  width: 700px;
  margin: 0 30px;
}
div.article div.left-column img {
  width: 600px;
  display: block;
  margin: 0 auto;
}
div.article div.left-column embed {
  width: 640px;
  height: 480px;
  display: block;
  margin: 0 auto;
}
div.article div.right-column {
  width: 300px;
  border-left: 1px solid #1b86c0;
}
div.article div.right-column h4 {
  margin-left: 20px;
  margin-top: 25px;
}
div.article-list {
  padding: 20px 20px;
}
div.article-list p {
  margin-top: 0;
  font-family: 微软雅黑, 黑体;
  font-size: 16px;
  line-height: 20px;
}
div.article-list {
  display: flex;
}
div.article-list div.left-column {
  width: 680px;
}
div.article-list div.right-column {
  margin-left: 17px;
  border-left: 1px solid #1b86c0;
}
div.article-list div.right-column h4 {
  margin-left: 20px;
  margin-top: 30px;
}
div.article-list div.news-line {
  display: flex;
}
div.article-list div.news-line div.column-pic {
  width: 200px;
}
div.article-list div.news-line div.column-pic img {
  width: 140px;
  display: block;
  margin: 0 auto;
}
div.article-list div.news-line div.column-title {
  width: 500px;
}
div.article-list div.news-line div.column-title h4 {
  font-size: 20px;
  line-height: 30px;
}
div.article-list div.news-line div.column-title p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0
}
div.main div.mypagi {
  display: flex;
  justify-content: center;
}
div.article-found {
  padding: 20px;
}
div.adminlogin {
  padding: 100px 0;
}
div.login-window {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px 5px;
}
div.login-window h2 {
  text-align: center;
}
div.login-window form {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}
div.login-window form input {
  margin: 5px 0;
}
div.footer {
  background-color: #3795c7;
  color: #FFF;
}
div.footer div.links {
  width: 1000px;
  height: 220px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
div.footer div.links h6 {
  font-family: 微软雅黑;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}
div.footer div.links a {
  font-family: 微软雅黑;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #FFF;
}
div.footer div.links div.links-column-1 {
  width: 480px;
  height: 220px;
  background-color: #3795c7;
  padding: 20px 0 20px 20px;
}
div.footer div.links div.links-column-1 a {
  line-height: 25px;
  margin-right: 12em;
}
div.footer div.links div.links-column-2 {
  width: 480px;
  height: 220px;
  background-color: #3795c7;
  padding: 20px 0 20px 20px;
}
div.footer div.links div.links-column-2 a {
  line-height: 25px;
}
div.footer div.links div.links-column-2 div.quicksearch a {
  margin-right: 2em;
}
div.footer div.links div.links-column-2 div.friendlinks {
  margin-top: 20px;
}
div.footer div.links div.links-column-2 div.friendlinks a {
  margin-right: 1.5em;
}
div.wraper-copyright {
  background-color: #1b86c0;
  color: #FFF;
}
div.wraper-copyright div.copyright {
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  background-color: #1b86c0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 微软雅黑;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
div.wraper-copyright div.copyright div.columns-1 {
  width: 300px;
  height: 150px;
}
div.wraper-copyright div.copyright div.columns-1 img {
  width: 150px;
  height: 150px;
  margin: -30px 0 0 80px;
}
div.wraper-copyright div.copyright div.columns-2 {
  width: 700px;
  height: 150px;
  line-height: 2em;
  padding-left: 80px;
}
div.wraper-copyright div.copyright div.columns-2 div.address-text-1 {
  margin-top: 46px;
}